<div class="container">
  <div class="content">
    <nav class="main-nav">
      <ul class="main-nav__sidebar">
        <li class="main-nav__sidebar-item">
          <a class="main-nav__sidebar-link" href="#">
            <svg class='main-nav__sidebar-icon'>
              <use href="./images/icons-sprite.svg#icon-home"></use>
            </svg>
            <span class='main-nav__sidebar-item-title'>Hotel</span>
          </a>
        </li>
        <li class="main-nav__sidebar-item">
          <a class="main-nav__sidebar-link" href="#">
            <svg class='main-nav__sidebar-icon'>
              <use href="./images/icons-sprite.svg#icon-aircraft-take-off"></use>
            </svg>
            <span class='main-nav__sidebar-item-title'>flight</span>
          </a>
        </li>
        <li class="main-nav__sidebar-item">
          <a class="main-nav__sidebar-link" href="#">
            <svg class='main-nav__sidebar-icon'>
              <use href="./images/icons-sprite.svg#icon-key"></use>
            </svg>
            <span class='main-nav__sidebar-item-title'>car rental</span>
          </a>
        </li>
        <li class="main-nav__sidebar-item">
          <a class="main-nav__sidebar-link" href="#">
            <svg class='main-nav__sidebar-icon'>
              <use href="./images/icons-sprite.svg#icon-map"></use>
            </svg>
            <span class='main-nav__sidebar-item-title'>tours</span>
          </a>
        </li>
      </ul>
      <p class='main-nav__legal-note'>All rights reserved &copy;</p>
    </nav>
    <main class="hotel-view">Hotel view</main>
  </div>
</div>
