<div class="container">
  <header class="header">
    <img class="header__logo" src="./images/logo.png" alt="trillo logo" />

    <form class="header__search">
      <input
        type="text"
        class="header__search-input"
        placeholder="Search hotels" />

      <button type="button" class="btn header__search-btn">
        <svg class="icon header__search-icon">
          <use href="./images/icons-sprite.svg#icon-magnifying-glass"></use>
        </svg>
      </button>
    </form>

    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__icon-container">
          <svg class="icon header-nav__icon">
            <use href="./images/icons-sprite.svg#icon-bookmark"></use>
          </svg>
          <span class="header-nav__icon-chip">7</span>
        </li>
        <li class="header-nav__icon-container">
          <svg class="icon header-nav__icon">
            <use href="./images/icons-sprite.svg#icon-chat"></use>
          </svg>
          <span class="header-nav__icon-chip">14</span>
        </li>
        <li class="header-nav__icon-container">
          <div class="header-nav__user-image-wrapper">
            <img
              class="header-nav__user-image"
              src="./images/BohdanSkochii.jpg"
              alt="user image" />
          </div>
        </li>
      </ul>
    </nav>
  </header>
</div>
