<main>
  <section>
    <h1 class="visually-hidden">
      Hotel booking, flight tickets, car rental and tours
    </h1>
    <div class="hotel-view">
      <ul class="gallery">
        <li>
          <figure class="gallery__item">
            <img
              class="gallery__image"
              src="./images/hotel-1.jpg"
              alt="Photo of a hotel pool area" />
          </figure>
        </li>
        <li>
          <figure class="gallery__item">
            <img
              class="gallery__image"
              src="./images/hotel-2.jpg"
              alt="Photo of a hotel 2" />
          </figure>
        </li>
        <li>
          <figure class="gallery__item">
            <img
              class="gallery__image"
              src="./images/hotel-3.jpg"
              alt="Photo of a hotel 3" />
          </figure>
        </li>
      </ul>
      <div class="overview">
        <div class="overview__hotel">
          <h2 class="overview__hotel-heading">American Gods Hotel</h2>
          <div class="overview__hotel-rating">
            <ul class="overview__rating-container">
              <li>
                <svg class="overview__rating-icon">
                  <use href="./images/icons-sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="overview__rating-icon">
                  <use href="./images/icons-sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="overview__rating-icon">
                  <use href="./images/icons-sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="overview__rating-icon">
                  <use href="./images/icons-sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li>
                <svg class="overview__rating-icon">
                  <use href="./images/icons-sprite.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="overview__location">
          <svg class="overview__location-icon">
            <use href="./images/icons-sprite.svg#icon-location-pin"></use>
          </svg>
          <h3 class="overview__location-title">
            <a href="#">Albufeira, Portugal</a>
          </h3>
        </div>
        <div class="overview__votes">
          <span class="overview__votes-median">8.6</span>
          <span class="overview__votes-count">525 votes</span>
        </div>
      </div>
    </div>
  </section>
</main>
