.hotel-view {
  flex: 1;
  height: 80rem;
}

.gallery {
  display: flex;

  .gallery__item {
    padding: 0;
    margin: 0;
  }

  .gallery__image {
    display: block;
    width: 100%;
  }
}

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-background-300);

  .overview__hotel {
    display: flex;
    align-items: baseline;
  }

  .overview__hotel-heading {
    margin-left: 3rem;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--color-text-300);
    text-transform: uppercase;
    margin-right: 2rem;
  }

  .overview__hotel-rating {
    margin-right: auto;
  }

  .overview__rating-container {
    display: flex;
  }

  .overview__rating-icon {
    width: 2rem;
    height: 2rem;
    fill: goldenrod;
  }

  .overview__location {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 3rem;
  }

  .overview__location-title {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-text-300);
    margin: 0;
    font-size: 1.6rem;

    & a {
      text-decoration: none;
    }
  }

  .overview__location-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    fill: var(--color-primary);
  }

  .overview__votes {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem 2.5rem;
    color: #fff;
    font-weight: 700;
    background-color: var(--color-primary);
  }

  .overview__votes-median {
    font-size: 2.8rem;
  }

  .overview__votes-count {
    font-weight: 400;
  }
}
